<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Address Book</title>
    <link type = "text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class = "text-center" id = "heading">
        <h2> Address Book </h2>
        <hr>
    </div>
    <div class = "text-center" id = "links">
        <a href = "view"><button class = "btn btn-primary">View my Address Book</button></a>
        <a href = "add"><button class = "btn btn-warning">Add a new contact</button></a>
    </div>

</body>
</html>